<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/layout1}"
>
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        /* Thymeleaf 템플릿 엔진 코드 */
        var successMessage = /*[[${successMessage}]]*/ null;
        if (successMessage) {
          alert(successMessage);
        }
        /* Thymeleaf 템플릿 엔진 코드 */
        var errorMessage = /*[[${errorMessage}]]*/ null;
        if (errorMessage) {
          alert(errorMessage);
        }
        $("#searchBtn").on("click", function (e) {
          e.preventDefault();
          page(0);
        });
      });

      function page(page) {
        var searchDateType = $("#searchDateType").val();
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();

        location.href =
          "/elections/" +
          page +
          "?searchDateType=" +
          searchDateType +
          "&searchBy=" +
          searchBy +
          "&searchQuery=" +
          searchQuery;
      }
      document.addEventListener("DOMContentLoaded", function () {
        const endTimeElements = document.querySelectorAll(".formattedEndTime");

        endTimeElements.forEach((endTimeElement) => {
          const rawDateTime = endTimeElement.getAttribute("data-end-time");
          const endDate = new Date(rawDateTime);

          endTimeElement.innerText = formatDateTime(endDate);
        });
      });

      function formatDateTime(date) {
        const year = date.getFullYear();
        const month = ("0" + (date.getMonth() + 1)).slice(-2);
        const day = ("0" + date.getDate()).slice(-2);
        const hours = ("0" + date.getHours()).slice(-2);
        const minutes = ("0" + date.getMinutes()).slice(-2);
        const seconds = ("0" + date.getSeconds()).slice(-2);

        return (
          year +
          "-" +
          month +
          "-" +
          day +
          " " +
          hours +
          ":" +
          minutes +
          ":" +
          seconds
        );
      }
    </script>
  </th:block>

  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
    <style>
      select {
        margin-right: 10px;
      }
    </style>
  </th:block>

  <div layout:fragment="content">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3">
          <h2 class="mb-4">선거 목록</h2>
        </div>
        <div class="col-md-9">
          <a href="/election/new" class="btn btn-primary">선거 등록</a>
        </div>
      </div>
      <form
        th:action="@{'/elections/' + ${elections.number}}"
        role="form"
        method="get"
        th:object="${elections}"
      >
        <table class="table">
          <thead>
            <tr>
              <td>선거아이디</td>
              <td>선거 제목</td>
              <td>등록자</td>
              <td>등록일</td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="election, status: ${elections.getContent()}">
              <td th:text="${election.id}"></td>
              <td>
                <a
                  th:href="'/election/'+${election.id}"
                  th:text="${election.title}"
                ></a>
              </td>
              <td th:text="${election.createdBy}"></td>
              <td
                class="formattedEndTime"
                th:attr="data-end-time=${election.regTime}"
              ></td>
            </tr>
          </tbody>
        </table>

        <div
          th:with="start=${(elections.number/maxPage)*maxPage + 1}, end=(${(elections.totalPages == 0) ? 1 : (start + (maxPage - 1) < elections.totalPages ? start + (maxPage - 1) : elections.totalPages)})"
        >
          <ul class="pagination justify-content-center">
            <li
              class="page-item"
              th:classappend="${elections.first}?'disabled'"
            >
              <a
                th:onclick="'javascript:page(' + ${elections.number - 1} + ')'"
                aria-label="Previous"
                class="page-link"
              >
                <span aria-hidden="true">Previous</span>
              </a>
            </li>

            <li
              class="page-item"
              th:each="page: ${#numbers.sequence(start, end)}"
              th:classappend="${elections.number eq page-1}?'active':''"
            >
              <a
                th:onclick="'javascript:page(' + ${page - 1} + ')'"
                th:inline="text"
                class="page-link"
                >[[${page}]]</a
              >
            </li>

            <li class="page-item" th:classappend="${elections.last}?'disabled'">
              <a
                th:onclick="'javascript:page(' + ${elections.number + 1} + ')'"
                aria-label="Next"
                class="page-link"
              >
                <span aria-hidden="true">Next</span>
              </a>
            </li>
          </ul>
        </div>

        <div
          class="form-inline justify-content-center"
          th:object="${candidateSearchDto}"
        >
          <select
            th:field="*{searchDateType}"
            class="form-control"
            style="width: auto"
          >
            <option value="all">전체기간</option>
            <option value="1d">1일</option>
            <option value="1w">1주</option>
            <option value="1m">1개월</option>
            <option value="6m">6개월</option>
          </select>
          <select
            th:field="*{searchBy}"
            class="form-control"
            style="width: auto"
          >
            <option value="title">제목</option>
            <option value="createdBy">등록자</option>
          </select>
          <input
            th:field="*{searchQuery}"
            type="text"
            class="form-control"
            placeholder="검색어를 입력해주세요"
          />
          <button id="searchBtn" type="submit" class="btn btn-primary">
            검색
          </button>
        </div>
      </form>
    </div>
  </div>
</html>
