<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/layout1}"
>
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const delete_elements = document.getElementsByClassName("delete");
      Array.from(delete_elements).forEach(function (element) {
        element.addEventListener("click", function () {
          if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
          }
        });
      });

      var endTime = new Date(/*[[${electionFormDto.endTime}]]*/).getTime();

      function updateRemainingTime() {
        var now = new Date().getTime();
        var distance = endTime - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("remainingTime").innerHTML =
          days + "일 " + hours + "시간 " + minutes + "분 " + seconds + "초 ";

        // 시간이 다 되면 메시지 변경
        if (distance < 0) {
          document.getElementById("remainingTime").innerHTML =
            "투표가 종료되었습니다.";
        } else {
          requestAnimationFrame(updateRemainingTime); // 다음 애니메이션 프레임에서 updateRemainingTime을 다시 호출
        }
      }

      // 초기 호출
      updateRemainingTime();

      document.addEventListener("DOMContentLoaded", function () {
        var endTimeElement = document.getElementById("formattedEndTime");
        var endDate = new Date(endTimeElement.getAttribute("data-end-time"));

        endTimeElement.innerText = formatDateTime(endDate);
      });

      function formatDateTime(date) {
        var year = date.getFullYear();
        var month = ("0" + (date.getMonth() + 1)).slice(-2); // 월은 0부터 시작하기 때문에 +1을 해줍니다.
        var day = ("0" + date.getDate()).slice(-2);
        var hours = ("0" + date.getHours()).slice(-2);
        var minutes = ("0" + date.getMinutes()).slice(-2);
        var seconds = ("0" + date.getSeconds()).slice(-2);

        return (
          year +
          "-" +
          month +
          "-" +
          day +
          " " +
          hours +
          ":" +
          minutes +
          ":" +
          seconds
        );
      }
    </script>
  </th:block>

  <div layout:fragment="content">
    <div class="container mt-5">
      <div class="container mt-5">
        <div
          th:if="${electionFormDto.isActive != null}"
          class="alert alert-info"
        >
          <p class="mb-1">
            종료 시간:
            <strong
              ><span
                id="formattedEndTime"
                th:attr="data-end-time=${electionFormDto.endTime}"
              ></span
            ></strong>
          </p>
          <hr />
          <p class="mb-1">
            남은 시간:
            <strong><span id="remainingTime"></span></strong>
          </p>
        </div>
        <div
          th:if="${electionFormDto.isActive == null}"
          class="alert alert-warning"
        >
          <p>투표가 아직 시작되지 않았습니다.</p>
        </div>
      </div>

      <h2 class="mb-4">선거 정보</h2>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>선거 제목:</strong></td>
            <td th:text="${electionFormDto.title}"></td>
          </tr>
        </tbody>
      </table>

      <h3>후보자 목록</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>후보자 아이디</th>
            <th>후보자 이름</th>
            <th>후보자 설명</th>
            <th>등록자</th>
            <th>등록시간</th>
          </tr>
        </thead>

        <tbody>
          <tr
            th:unless="${#lists.isEmpty(candidates)}"
            th:each="candidate : ${candidates}"
          >
            <td th:text="${candidate.id}"></td>
            <td>
              <a
                th:href="'/election/'+${electionFormDto.id}+'/candidate/'+${candidate.id}"
                th:text="${candidate.name}"
              ></a>
            </td>
            <td th:text="${candidate.description}"></td>
            <td th:text="${candidate.createdBy}"></td>
            <td th:text="${candidate.regTime}"></td>
          </tr>
          <tr th:if="${#lists.isEmpty(candidates)}">
            <td colspan="5" class="text-center">
              후보자가 등록되지 않았습니다.
            </td>
          </tr>
        </tbody>
      </table>
      <button
        sec:authorize="isAuthenticated()"
        th:if="${email != null and email == #authentication.getPrincipal().getUsername()}"
        type="button"
        class="btn btn-primary"
        th:onclick="'location.href=\'/election/update/' + ${electionFormDto.id} + '\''"
      >
        선거 수정
      </button>
      <a
        href="javascript:void(0);"
        th:data-uri="@{|/election/delete/${electionFormDto.id}|}"
        class="delete btn btn-sm btn-outline-secondary"
        sec:authorize="isAuthenticated()"
        th:if="${email != null and email == #authentication.getPrincipal().getUsername()}"
        th:text="삭제"
      ></a>
      <button
        sec:authorize="isAuthenticated()"
        th:if="${email != null and email == #authentication.getPrincipal().getUsername()}"
        type="button"
        class="btn btn-primary"
        th:onclick="'location.href=\'/election/' + ${electionFormDto.id} + '/candidate/new\''"
      >
        후보자 추가
      </button>
      <button
        sec:authorize="isAuthenticated()"
        th:if="${email != null and email == #authentication.getPrincipal().getUsername()}"
        type="button"
        class="btn btn-success"
        th:onclick="'location.href=\'/election/' + ${electionFormDto.id} + '/start\''"
      >
        투표 시작
      </button>
      <form
        th:action="@{'/election/' + ${electionFormDto.id} + '/end'}"
        method="post"
        style="display: inline-block"
      >
        <button
          sec:authorize="isAuthenticated()"
          th:if="${email != null and email == #authentication.getPrincipal().getUsername()}"
          type="submit"
          class="btn btn-danger"
        >
          투표 종료
        </button>
      </form>
      <button
        type="button"
        class="btn btn-primary"
        th:onclick="'location.href=\'/election/' + ${electionFormDto.id} + '/vote\''"
      >
        투표하기
      </button>
      <button
        type="button"
        class="btn btn-primary"
        th:onclick="'location.href=\'/election/' + ${electionFormDto.id} + '/status\''"
      >
        투표현황
      </button>
    </div>
  </div>
</html>
